/* Floating orbs */
.floating-orb {
  position: absolute;
  border-radius: 50%;
  filter: blur(3rem);
}

.orb-1 {
  top: 5rem;
  right: 25%;
  width: 15rem;
  height: 15rem;
  background: rgba(168, 85, 247, 0.1);
}

.orb-2 {
  bottom: 10rem;
  left: 25%;
  width: 20rem;
  height: 20rem;
  background: rgba(59, 130, 246, 0.1);
}

.orb-3 {
  top: 50%;
  left: 33%;
  width: 8rem;
  height: 8rem;
  background: rgba(236, 72, 153, 0.05);
}